# virtual environment
venv/


# compiled python files (created automatically)
__pycache__/
*.py[cod]
*$py.class


# --- Robot Framework Results ---
results/


# screenshots and videos from Browser library
browser/video/
src/test_data/snapshot/

# --- Environmental ---
.env

# Vs Code settings
.vscode/

.DS_Store
